*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SLIDER */
.slider{
    position: relative;
}

.slider .images{
    height: 600px;
}

.slider .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}