*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SLIDER */
.slider{
    position: relative;
}

.slider .images{
    height: 600px;
}

.slider .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ARROW NAVIGATION */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.4s;
}

.prev {
    left: 16px;
}

.next {
    right: 16px;
}

.prev:hover,
.next:hover {
    background-color: #000;
}

/* DOT NAVIGATION */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    border-radius: 25px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav i {
    color: rgba(255, 255, 255, 0.5);
}